<!DOCTYPE html>
<html>
<head>
  <title>Registered Users</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <a href="/logout">Log out</a>
  <h1>Registered Users</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Password</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.email}}</td>
          <td>{{user.password}}</td>
          <td>
            <button class="delete-button" onclick="deleteUser({{user.id}})">Delete</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
